body{
    margin: 0px 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgrey;
    color: white;
}

.convert-section{

    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    background-color: #0C4A6E;

}

.convert-section h1{

    margin: 60px;
    text-align: center;
}



.convert-section input{

    font-size: 20px;
    text-align: center;
    border: 1px solid white;
    border-radius: 20px;
    padding: 15px 30px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.convert-section button{

    font-size: 15px;
    padding: 12px 48px;
    margin-bottom: 60px;
    border: none;
    border-radius: 6px;
}

button:hover{

    color: blueviolet;
    background-color: rgb(177, 166, 166);
}

.LVM-section{
    margin-top: 40px;
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;

}

div{
    border: 3px solid white ;
    border-radius: 5%;
}

.Length{

    padding: 25px;
    color: #0C4A6E;
    margin: 20px;
    text-align: center;
    background-color: white;
}

.Volume{

    padding: 25px;
    color: #0C4A6E;
    margin: 20px;
    text-align: center;
    background-color: white;
}

.Mass{

    padding: 25px;
    color: #0C4A6E;
    margin: 20px;
    text-align: center;
    background-color: white;
}